.footer {
    position: fixed;
    bottom: 0;
    color: white;
    width: 100%;
    height: 30px;
    background-color: rgb(34, 30, 51);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    margin-top: 40px;
}

.footer-project-name {
    color: rgb(100, 100, 100);
    font-size: 10px;
    margin: 15px;
}

.footer-project-github {
    font-size: 10px;
    margin: 15px;
}

.footer-project-github a {
    transition: all 0.2s;
}

.footer-project-name a {
    transition: all 0.2s;
}

.footer-project-github a:link {
    text-decoration: underline-dotted;
    color: rgb(100, 100, 100);
}

.footer-project-github a:visited {
    color: rgb(100, 100, 100);
}

.footer-project-github a:hover {
    color: rgb(200, 200, 200);
}

.footer-project-github a:active {
    color: rgb(100, 150, 100);
}

.footer-project-name a:link {
    text-decoration: underline dotted;
    color: rgb(100, 100, 100)
}

.footer-project-name a:visited {
    color: rgb(100, 100, 100);
}

.footer-project-name a:hover {
    color: rgb(200, 200, 200);
}

.footer-project-name a:active {
    color: rgb(100, 150, 100);
}