.post-container {
    background-color: rgb(4, 5, 53);
    padding: 20px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

.page-chooser {
    display: flex;
    background-color: transparent;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.page-button {
    color: rgb(120, 120, 120);
    background-color: rgb(33, 55, 75);
    border: 0;
    border-radius: 50%;
    font-size: 15px;
    width: 40px;
    height: 40px;
    margin: 20px;
}

.page-backing {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 40px;
    padding: 15px 15px;
}

.pages {
    color: white;
    font-size: 18px;
}

.page-button:hover {
    background-color: rgb(39, 39, 39);
    color: rgb(255, 255, 255);
    transition: 0.2s;
}

.empty-post {
    color: white;
    width: 100%;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}
