.container {
    margin: 0 auto;
    padding: 0;
}

.post-container {
    display: flex;
    background-color: rgb(4, 5, 53);
    height: 404px;
    width: 500px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

.page-chooser {
    display: flex;
    background-color: transparent;
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.page-button {
    color: black;
    background-color: rgb(169, 169, 169);
    border: 0;
    border-radius: 50%;
    font-size: 15px;
    width: 40px;
    height: 40px;
    margin: 20px;
}

.page-backing {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 10px;
    width: 40px;
    padding: 15px 15px;
}

.pages {
    color: white;
    font-size: 18ypx;
}

.page-button:hover {
    background-color: rgb(90, 90, 90);
    color: rgb(255, 255, 255);
    transition: 0.2s;
}

.empty-post {
    color: white;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid darkgrey;
    display: flex;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}

.empty-post:last-child {
    border: 0;
}