.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 100%;
    color: white;
}

.strikethrough {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    margin: 0px 5px;
}

.post-title {
    font-size: 18px;
}

.post-author {
    font-size: 12px;
    font-style: italic;
    color: darkgrey;
}


.post-title a {
    transition: 0.2s;
}

.post-author a {
    transition: 0.2s;
}

.post-title a:link {
    color: white;
    text-decoration: none;
}

.post-title a:visited {
    color: white;
}

.post-title a:hover {
    color: darkred;
}

.post-title a:active {
    color: green
}

.post-author a:link {
    color: darkgray;
    text-decoration: none;
}

.post-author a:visited {
    color: darkgray;
}

.post-author a:hover {
    color: darkred;
}

.post-author a:active {
    color: green
}

