.stats-container {
    background-color: rgb(4, 5, 53);
    color: white;
    padding: 0px;
    margin: 0px px;
    width: 200px;
    height: 440px;
    display: flex;
    flex-direction: column;
}

#stats-currSub {
    margin: 0;
    padding: 0;
}

#stats-active {
    margin: 0;
    padding: 0;
}