.stats-container {
    background-color: rgb(4, 5, 53);
    color: white;
    padding: 40px;
    margin: 0px 30px;
    width: 200px;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

#stats-currSub {
    margin: 0;
    padding: 0;
}

#stats-active {
    margin: 0;
    padding: 0;
}