.stats-container {
    background-color: rgb(4, 5, 53);
    color: white;
    padding: 15px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    box-shadow: 5px 5px 25px 2px rgb(4, 0, 23);
}

#stats-currSubs {
    margin: 0;
    padding: 0;
    color: lightgray;
}

#stats-date-created {
    white-space: nowrap;
    color: lightgray;
}