.stats-container {
    background-color: rgb(4, 5, 53);
    color: white;
    padding: 15px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
}

#stats-currSub {
    margin: 0;
    padding: 0;
}

#stats-active {
    margin: 0;
    padding: 0;
}