.App {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content-container {
  display: flex;
  flex-direction: row;
  height: 550px;
  width: 850px;
  margin: 0 auto;
  padding: 0;
  align-items: baseline;
}

